body {
    font-size: 13px;
    font-family: "CuprumRegular", "Arial", sans-serif;
    color: #000;
    line-height: 24px;
}
h1 {
    font-size: 36px;
    font-family: "CuprumBold", "Arial", sans-serif;
    color: #ffffff;
    line-height: 30px;
}
h2 {
    font-size: 30px;
    font-family: "CuprumRegular", "Arial", sans-serif;
    color: #32425c;
    line-height: 30px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container {
    background-color: darkseagreen;
    margin: 0 auto;
    width: 940px;
    padding: 0 10px;
    outline: 1px solid blue;
}
.main_header {
    outline: 1px solid brown;
}
.upper_header {
    outline: 1px solid seagreen;
    margin-bottom: 45px;
}
.upper_header_logo {
    float: left;
    min-height: 45px;
    width: 220px;
}
.upper_header_form {
    float: left;
    width: 250px;
}
.upper_header_bookmarks {
    float: left;
    width: 160px;
}
.upper_header_basket {
    float: left;
    width: 160px;
}
.upper_header_checkout {
    float: right;
    width: 150px;
}
.information {
    outline: 1px solid black;
    min-height: 115px;
}
.information_slogan {
    margin-top: 0px;
    display: block;
    outline: 1px solid red;
    float: left;
}
.information_requisites {
    outline: 1px solid red;
    width: 470px;
    float: left;
}
.user_interface {
    float: left;
    width: 300px;
    min-height: 45px;
    outline: 1px solid darkmagenta;
}
.user_exit {
    width: 60px;
    min-height: 45px;
    float: left;
    outline: 1px solid darkorange;
}
.user_enter {
    margin-left: 18px;
    margin-right: 10px;
    width: 122px;
    min-height: 45px;
    float: left;
}
.user_registration {
    width: 150px;
    min-height: 45px;
    float: left;
}
.user_name {
    float: left;
    outline: 1px solid yellow;
    width: 240px;
    min-height: 45px;
}
.user_orders {
    float: left;
    outline: 1px solid blue;
}
.user_cabinet {
    float: left;
    outline: 1px solid blue;
}
.main_navigation {
    margin: 0px;
    outline: 1px solid black;
    min-height: 60px;
    margin-bottom: 60px;
}
.breadcrumbs {
    float: left;
    outline: 1px solid blueviolet;
    width: 940px;
}
.breadcrumbs ul {
    padding: 0;
    margin: 0;
}
.breadcrumbs li {
    min-height: 60px;
    float: left;
    margin-right: 20px;
}
.catalog_h1 {
    clear: both;
    min-height: 90px;
    background-color: #32425c;
}
.catalog_content {
    outline: 1px solid darkorange;
}
.main_navigation li {
    outline: 1px solid red;
    float: left;
}
.main_navigation ul {
    margin: 0;
    padding: 0;
}
.sorting {
    outline: 1px solid lightcoral;
    min-height: 40px;
    width: 720px;
}
.sorting p {
    margin-left: 20px;
    float: left;
}
.sorting a {
    float: left;
}
.catalog_form {
    width: 220px;
    float: left;
    outline: 1px solid darkmagenta;
}
.container_catalog {
    width: 720px;
    outline: 1px solid chartreuse;
    float: left;
}
.catalog_slider {
    float: left;
    outline: 1px solid greenyellow;
}
.catalog_slider_min {
    float: left; /*Не уверен нужно ли здесь флоатить*/
}
.catalog_slider_max {
    float: left; /*Не уверен нужно ли здесь флоатить*/
}
.catalog_form_slider {
    outline: 1px solid blue;
}
.catalog_form_fabricators {
}
.main_features_scroll {
    min-height: 125px;
    width: 300px;
    outline: 1px solid darkmagenta;
    float: left;
}
.materials {
    margin-right: 20px;
    margin-top: 60px;
}
.tech {
    margin-top: 60px;
}
.instrument {
    margin-right: 20px;
    margin-top: 60px;
}
.discount {
    margin-top: 20px;
}
.delivery {
    margin-top: 20px;
}
.main_features_slider {
    width: 620px;                    
    min-height: 270px;
    outline: 1px solid crimson;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}
.main_features {
    margin-bottom: 55px;
}
.popular {
    clear: both;
    width: 940px;
    min-height: 90px;
    outline: 1px solid darkmagenta;
    margin-bottom: 20px;
}
.popular h2 {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
    float: left;
}
.popular .red_block {
    outline: 1px solid red;
    float: left;
}
.all_items_index {
    margin-bottom: 20px;
    clear: both;
    outline: 1px solid black;
}
.all_items_index .item {
    width: 220px;
    min-height: 320px;
    float: left;
    outline: 1px solid black;
    margin-left: 20px;
}
.all_items_index .item:nth-child(1) {
    margin-left: 0px;
}
.all_items_catalog {
    width: 720px;
    outline: 1px solid black;
}
.all_items_catalog .item {
    width: 220px;
    min-height: 320px;
    float: left;
    outline: 1px solid black;
    margin-top: 20px;
    margin-left: 20px;
}
.main_fabricators {
    outline: 1px solid darkorange;
}
.fabricators {
    outline: 1px solid fuchsia;
    width: 220px;
    min-height: 145px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
.bosch{
    margin-left: 0px;
}
.hitachi {
    margin-left: 0px;
}
.services {
    margin-top: 85px;
    outline: 1px solid fuchsia;
    margin-bottom: 80px;
}
.conditions {
    outline: 1px solid red;
}
.catalog_about {
    background-color: lightcoral;
    margin-top: 60px;
    min-height: 260px;
}
.about_us {
    width: 630px;
    min-height: 380px;
    float: left;
    outline: 1px solid red;
}
.contacts {
    width: 310px;
    min-height: 380px;
    float: right;
}
.paginator {
    float: left;
    outline: 1px solid yellow;
    margin-left: 240px;
    margin-top: 55px;
    min-height: 40px;
}
main {
    background-color: cornsilk;
}
.general_info {
    outline: 1px solid red;
}
.upper_footer {
    outline: 1px solid darkmagenta;
    min-height: 195px;
    background-color: peachpuff;
}
.upper_footer_block {
    float: left;
    outline: 1px dotted green;
    width: 390px;
    min-height: 195px;
}
.upper_footer .logotype {
    float: left;
    outline: 1px solid black;
    width: 220px;
    min-height: 70px;
}
.upper_footer ul {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
    float: left;
}
.upper_footer li {
    float: left;
    min-height: 95px;
    outline: 1px solid black;
}
.upper_footer_block p {
    clear: both;
    width: 380px;
}
.lower_footer {
    background-color: peachpuff;
    min-height: 105px;
}
.footer_rights {
    min-height: 105px;
    outline: 1px solid red;
    float: left;
    width: 310px;
}
.footer_social {
    min-height: 105px;
    outline: 1px solid red;
    float: left;
    width: 320px;
}
.feedback {
    min-height: 105px;
    outline: 1px solid red;
    float: left;
    width: 160px;
}
.developed {
    min-height: 105px;
    outline: 1px solid red;
    float: left;
    width: 150px;
}