body {
    font-size: 13px;
    font-family: "CuprumRegular", "Arial", serif;
    color: #000;
    line-height: 24px;
}
h1 {
    font-size: 36px;
    font-family: "CuprumBold", "Arial", serif;
    color: #ffffff;
    line-height: 30px;
}
h2 {
    font-size: 30px;
    font-family: "CuprumRegular", "Arial", serif;
    color: #32425c;
    line-height: 30px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container {
    background-color: darkseagreen;
    margin: 0 auto;
    width: 940px;
    padding: 0 10px;
    outline: 1px solid blue;
}
.main_header {
    outline: 1px solid brown;
}
.upper_header {
    outline: 1px solid seagreen; /*не разобрался как сделать на всю ширину экрана блок*/
    margin-bottom: 45px;
}
.upper_header_logo {
    float: left;
    min-height: 45px;
    width: 220px;
}
.upper_header_form {
    float: left;
    width: 250px;
}
.upper_header_bookmarks {
    float: left;
    width: 160px;
}
.upper_header_basket {
    float: left;
    width: 160px;
}
.upper_header_checkout {
    float: right;
    width: 150px;
}
.information {
    outline: 1px solid black;
}
.slogan {
    float: left; /* НЕ ЗАДАЕТСЯ РАЗМЕР + не по верху*/
}
.information_requisites {
    width: 320px;
    float: left;
}
.user_interface {
    margin-left: 150px;
    float: left;
    width: 300px;
    min-height: 45px;
    outline: 1px solid darkmagenta;
}
.user_exit {
    width: 60px;
    min-height: 45px;
    float: left;
    outline: 1px solid darkorange;
}
.user_enter {
    margin-left: 18px;
    margin-right: 10px;
    width: 122px;
    min-height: 45px;
    float: left;
}
.user_registration {
    width: 150px;
    min-height: 45px;
    float: left;
}
.user_name {
    float: left;
    outline: 1px solid yellow;
    width: 240px;
    min-height: 45px;
}
.user_orders {
    margin-left: 150px;
    float: left;
    outline: 1px solid blue;
}
.user_cabinet {
    float: left;
    outline: 1px solid blue;
}
.main_navigation {
    outline: 1px solid black;
    min-height: 60px;
    margin-bottom: 60px;
}
.breadcrumbs {
    float: left;
    outline: 1px solid blueviolet;
    width: 940px;
}
.breadcrumbs li {
    min-height: 60px; /*Тоже какая то фигня с размерами*/
    float: left;
    margin-right: 20px;
}
.catalog_h1 {
    clear: both;
    min-height: 90px;
    background-color: #32425c;
}
.main_navigation li {
    float: left;
    width: 120px; /* Не понимаю почему там отступы слева и справа у первого и последнего элемента, как разместить верно?*/
}
.sorting {
    outline: 1px solid lightcoral;
    float: left;
    min-height: 40px;
    width: 700px;
    margin-left: 20px;
}
.sorting p {
    float: left;
}
.sorting a {
    float: left;
}
.catalog_form {
    width: 220px;
    min-height: 1050px;
    float: left;
    outline: 1px solid darkmagenta;
}
.catalog_slider {
    float: left;
    outline: 1px solid greenyellow;
}
.catalog_slider_min {
    float: left; /*Не уверен нужно ли здесь флоатить*/
}
.catalog_slider_max {
    float: left; /*Не уверен нужно ли здесь флоатить*/
}
.catalog_form_slider {
    float: left;
    outline: 1px solid blue;
}
.catalog_form_fabricators {
    float: left;
}
.scroll {
    min-height: 125px;
    width: 300px;
    outline: 1px solid darkmagenta;
    float: left;
}
.scroll:nth-child(-n+2) {
    margin-top: 60px;
    margin-right: 20px;
}
.scroll:nth-child(3) {
    margin-top: 60px; /*Пока так, по другому не придумал*/
}
.scroll:nth-child(n+4) {
    margin-top: 20px;
    margin-left: 20px;
}
.main_slider {
    width: 620px;                     /* Не понял как разместить элементы внутри картинки. Как фон чтоли?*/
    min-height: 270px;
    outline: 1px solid crimson;
    float: left;
    margin-top: 20px;
    margin-bottom: 50px;
}
.popular {
    width: 940px;
    min-height: 90px;
    outline: 1px solid darkmagenta;
    float: left;
    margin-bottom: 20px;
}
.all_items_index {
    outline: 1px solid black;
    float: left;
}
.all_items_index .item {
    width: 220px;
    min-height: 320px;
    float: left;
    outline: 1px solid black;
    margin-bottom: 20px;
}
.all_items_index .item:nth-child(n+2) {
    margin-left: 20px;
}
.all_items_catalog {
    width: 720px;
    outline: 1px solid black;
    float: left;
}
.all_items_catalog .item {
    width: 220px;
    min-height: 320px;
    float: left;
    outline: 1px solid black;
    margin-bottom: 20px;
    margin-left: 20px;
}
.all_items_catalog .item:nth-child(n+7) {
    margin-bottom: 0px;
}
.fabricators {
    outline: 1px solid fuchsia;
    width: 220px;
    min-height: 145px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
.bosch{
    margin-left: 0px;
}
.hitachi {
    margin-left: 0px;
}
.services {
    margin-top: 85px;  /*Не получается сделать на всю ширину экрана*/
    outline: 1px solid fuchsia;
    float: left;
    margin-bottom: 80px;
}
.catalog_about {
    background-color: lightcoral;
    margin-top: 60px;
    min-height: 260px;
    margin-bottom: 0px !important;
}
.about_us {
    width: 630px;
    min-height: 380px;
    float: left;
    outline: 1px solid red;
}
.contacts {
    width: 310px;
    min-height: 380px;
    float: right;
}
.paginator {
    float: left;
    outline: 1px solid yellow;
    margin-left: 240px;
    min-height: 40px;
}
main {
    background-color: cornsilk;
}
footer {
    background-color: cyan;
}
.upper_footer {
    outline: 1px solid darkmagenta;
    min-height: 195px;
    width: 940px;
}
.upper_footer_block {
    float: left;
    outline: 1px dotted green;
    width: 390px;
    min-height: 195px;
}
.upper_footer .logotype {
    float: left;
    outline: 1px solid black;
    width: 220px;
    min-height: 70px;
}
.upper_footer li {
    float: left;
    min-height: 95px;
    outline: 1px solid black;
    width: 110px;
}
.upper_footer_yel {
    width: 135px !important;
    min-height: 100px !important; /*По другому не додумался*/
}
.upper_footer_yel:last-child {
    width: 145px !important;
}
.upper_footer_block p {
    clear: both;
    width: 380px;
}
.lower_footer {
    background-color: peachpuff;
    min-height: 105px;
}
.footer_rights {
    min-height: 105px;
    outline: 1px solid red;
    float: left;
    width: 310px;
}
.footer_social {
    min-height: 105px;
    outline: 1px solid red;
    float: left;
    width: 320px;
}
.feedback {
    min-height: 105px;
    outline: 1px solid red;
    float: left;
    width: 160px;
}
.developed {
    min-height: 105px;
    outline: 1px solid red;
    float: left;
    width: 150px;
}